.utmp/
/[Ll]ibrary/
/[Bb]uilds/
/[Uu]ser[Ss]ettings/
*.blend1
*.blend1.meta
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/Plugins/Editor/JetBrains*
.gradle/
ExportedObj/
.consulo/
*.unityproj
*.booproj
*.svd
*.unitypackage
*.unitypackage.meta
*.apk
*.aab
*.app
crashlytics-build.properties
InitTestScene*.unity*
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
sysinfo.txt
